<% include includes/header.ejs %>
<div class="row-fluid">
    <% include includes/voirie-panel.ejs %>

    <% if (user) { %>
    <div class="span6">
        <% if (userInfo) { %>
        <div class="dropdown">
            <h4><a href="#" data-toggle="tooltip" data-placement="bottom"
                   title="given_name: <%= userInfo.given_name %><br>
                family_name: <%= userInfo.family_name %><br>
                birthdate: <%= userInfo.birthdate %><br>
                gender: <%= userInfo.gender %><br>
                birthplace: <%= userInfo.birthplace %><br>
                birthcountry: <%= userInfo.birthcountry %><br>
                email: <%= userInfo.email %><br>
                preferred_username: <%= userInfo.preferred_username %><br>
                <% if (userInfo.address) { %>
                address.formatted: <%= userInfo.address.formatted %><br>
                <% } %>
                phone_number: <%= userInfo.phone_number %><br>">
                    Bonjour <%= ((userInfo.gender === 'male') ? 'M. ' : 'Mme ') + userInfo.family_name %>
                </a><span class="caret"></span>
            </h4>
        </div>
        <% } %>
        <p>Pour vous faciliter la vie au quotidien, la ville de Nantes vous propose de faire certaines de vos demandes
            ou démarches municipales en ligne.</p>

        <p>L'espace usager vous offre la possibilité de suivre ces demandes 24h/24 et 7 jours/7</p>
    </div>

    <div class="span3 well well-gu">
        <h4>Voirie</h4>
        <ul class="unstyled">
            <li>Demande de carte de stationnement résidentiel ou de carte véhicule électrique</li>
            <li>Autorisation pour un déménagement</li>
        </ul>
    </div>
    <div class="span3 well well-gu">
        <h4>Famille et logement</h4>
        <ul class="unstyled">
            <li><a id="pre-inscription-scolaire"class="label-demand" href="/data/form">Inscription cantine scolaire</a></li>
            <li>Calcul du quotient familial</li>
            <li>Cotation de votre logement</li>
        </ul>
    </div>
    <% } else { %>
    <div class="span6 well">
        <h4>Avec le Guichet des Nantais vous pouvez :</h4>
        <ul class="list-main-content">
            <li>Accéder aux différentes démarches administratives en ligne de la ville de Nantes</li>
            <li>Retouver l'historique de vos demandes dans votre espace personnel</li>
            <li>Etre informé de l'état d'avancement de l'instruction de vos demandes</li>
        </ul>
        <div class="text-center">
            <a class="btn btn-large btn-main" href="/inscription">CREER UN COMPTE</a>
            <a class="btn btn-large btn-main" href="/login">ME CONNECTER</a>
        </div>
    </div>
    <div class="span6 well">
        <h4>Gagnez du temps dans la réalisation de vos démarches en vous connectant par FranceConnect!</h4>
        <p>Connectez vous à l'administration <b>en toute sécurité</b>, <b>sans créer de nouveau compte</b>.</p>
        <div class="span12 connect">
            <a id="fc_login" rel="group" href="/login_org" modal="true" autoHeight="false" autoSize="false">
                Connexion avec FranceConnect
            </a>
        </div>
    </div>
    <% } %>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script type="text/javascript">
    var screenTabletWith = 767;
    $('#fc_login').click(function (event) {
        if ($(window).width() > screenTabletWith) {
            event.preventDefault();
            OpenPopupCenter(this.href, "FranceConnect_Identification", 600, 600);
        }
    });
</script>
<% include includes/footer %>
